.text {
    background: white;
    display: inline;
    width: 100%;
}

.read-or-hide {
    background: white;
    font-weight: 700;
    color: #439a97;
    cursor: pointer;
}

.container-detailbook,
.container-detailbook ul,
.text-detail-book,
.number-of-pages,
.publisher,
.date-publish,
.weight-book,
.isbn-book,
.width-book,
.languange-book,
.length-book {
    background-color: white;
}
